* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background: url(/resources/bg_image.webp) center fixed;
    background-size: cover;
}

.gradient-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.808), rgba(0, 0, 0, 0.575));
    z-index: -1;
}

#social ul>li {
    list-style: none;
    display: inline-block;
    text-align: center;
}

#heading {
    text-align: center;
    padding: 15px;
    mix-blend-mode: screen;
    max-width: max-content;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%) skewX(-10deg);
}

#heading>a {
    color: black;
}

#heading>a>h1 {
    font-weight: 700;
    font-size: 35px;
    padding: 10px 8px;
    display: inline-block;
    background-color: white;
    border-radius: 3px;
}

#heading>a {
    text-decoration: none;
}

#social ul>li a {
    color: #fff;
    font-size: 40px;

}

#social ul>li {
    height: 80px;
    width: 70px;
}

#social ul {
    text-align: center;
    padding-left: 0;
}

.countdown {
    border: 2px solid #fff;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    max-width: 50%;
    padding: 20px;
    text-align: center;
    backdrop-filter: blur(10px);
    box-shadow: rgba(255, 255, 255, 0.56) 0px 2px 10px 4px;
}

.countdown p:first-child {
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    color: #fff;
}

#datetime {
    border: 1px solid white;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px;
    max-width: 200px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: rgba(255, 230, 0, 0.56) 0px 2px 10px 2px;
}

#datetime:focus {
    outline: none;
}

#error-message {
    visibility: hidden;
    opacity: 0;
    color: red;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 6px;
    transition: opacity 0.3s ease;
}

#datetime.datetime-invalid {
    border: 1px solid red;
    box-shadow: rgba(255, 0, 0, 0.74) 0px 2px 10px 2px;
}

.countdown button {
    background-color: yellow;
    margin-top: 15px;
    border: none;
    border-radius: 3px;
    color: black;
    z-index: 1;
    transform: skewX(-10deg);
    background: yellow;
    font-weight: 700;
    padding: 6px 10px;
    box-shadow: rgba(255, 251, 0, 0.56) 0px 1px 8px 1px;
}

.countdown button:focus {
    outline: 3px solid rgb(143, 143, 26);
    transition: 0.2s ease;
}


#para {
    font-size: 18px;
    margin: 0px 30px;
}

.result {
    border: 1px solid #fff;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    text-align: center;
    margin-top: 8vh;
    backdrop-filter: blur(5px);
    z-index: -1;
    box-shadow: rgba(255, 255, 255, 0.56) 0px 2px 10px 4px;
    max-width: max-content;
}

.result p:first-child {
    font-size: 20px;
    font-weight: 500;
}

.line {
    position: absolute; 
    top: 56; 
    left: 50%; 
    width: 1px; 
    height: 8vh;
    background-color: white; 
    transform: translateX(-50%);
    box-shadow: rgba(255, 255, 255, 0.56) 0px 2px 10px 4px;
}
#time {
    font-size: 32px;
    font-weight: 700;
    color: yellow;
}

#time span {
    font-size: 18px;
    font-weight: normal;
}

footer {
    background-color: #0000009d;
    position: relative;
    bottom: -105px;
    padding: 15px;
    width: 100%;
}

footer>p {
    text-align: center;
    margin-bottom: 5px;
}

footer a {
    text-decoration: none;
    color: yellow;
    font-weight: 500;
}

footer a:hover {
    color: white;
    transition: 0.3s ease;
}

@media screen and (max-width:575px) {
    #datetime {
        max-width: 190px;
        font-size: 15px;
    }

    .countdown {
        max-width: 80%;
    }
}

@media screen and (max-width:394px) {
    .result p:first-child {
        font-size: 18px;
    }

    #time {
        font-size: 24px;
    }
}

@media screen and (max-width:290px) {
    #datetime {
        max-width: 100%;
    }
}


@media screen and (min-width:768px) {
    #social ul>li a {
        font-size: 50px;
    }

    #social ul>li a:hover {
        color: rgb(133, 133, 133);
        transition: 0.3s ease;
    }

    #social ul {
        margin-right: 25px;
    }

    header {
        height: 200px;
    }

    #heading {
        position: absolute;
        top: 50px;
        left: 0;
        margin-left: 40px;
        transform: skewX(-10deg);
    }

    #social ul>li {
        height: 90px;
        width: 90px;
        margin-top: 15px;
    }

    #social {
        position: absolute;
        top: 50px;
        right: 0;
    }

    #heading>a>h1 {
        font-size: 48px;
        font-weight: 900;
        padding: 10px 15px;
    }

    #para {
        margin: 0px 50px;
    }

    #datetime {
        max-width: 230px;
        font-size: 18px;
    }

    #error-message {
        font-weight: 700;
    }

    .countdown {
        max-width: 45%;
    }

    .countdown p:first-child {
        font-size: 30px;
    }

    .countdown button {
        padding: 9px 12px;
        border: 1px solid yellow;
        border-radius: 3px;
        color: yellow;
        z-index: 1;
        background: transparent;
        position: relative;
        font-weight: 1000;
        font-size: 19px;
        transition: all 250ms;
    }

    .countdown button::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        border-radius: 3px;
        background-color: yellow;
        z-index: -1;
        transition: all 250ms
    }

    .countdown button:hover {
        color: #000;
    }

    .countdown button:hover::before {
        width: 100%;
    }

    .result p:first-child {
        font-size: 24px;
    }

    #time {
        font-size: 36px;
    }

    #time span {
        font-size: 24px;
    }

}